<div class="container my-4">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-12">
      <button mat-button (click)="goBack()" class="mb-3">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>
    </div>
  </div>
  <mat-card class="questionnaire-card">
    <mat-card-title style="margin: 20px 20px 5px">{{
      questionnaireName
    }}</mat-card-title>
    <mat-card-content>
      <div
        class="questionnaire-content"
        [innerHTML]="questionnaireContent"
      ></div>
    </mat-card-content>
  </mat-card>
</div>
