@use "@angular/material" as mat;
@include mat.core();

@import "variables";
@import "layouts/transitions";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/_dynamic_theme";
// @import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

.dark-theme {
  @include mat.all-component-colors($darkbluetheme);
}

// .dark-theme .aqua_theme {
//   @include mat.all-component-colors($darkaquatheme);
// }

.orange_theme {
  @import "themecolors/orange_theme";
  @include mat.all-component-colors($orangetheme);
}

.aqua_theme {
  @import "themecolors/aqua_theme";
  @include mat.all-component-colors($aquatheme);
}

.purple_theme {
  @import "themecolors/purple_theme";
  @include mat.all-component-colors($purpletheme);
}

.green_theme {
  @import "themecolors/green_theme";
  @include mat.all-component-colors($greentheme);
}

.cyan_theme {
  @import "themecolors/cyan_theme";
  @include mat.all-component-colors($cyantheme);
}

//container layout
@import "overrides/materialoverrides";
@import "dark/dark";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";

// horizontal
@import "horizontal/horizontal";

// apps
@import "apps/calendar";
@import "apps/email";

// pages
@import "pages/dashboards";
@import "pages/auth";
@import "pages/landingpage";

// RTL Theme
@import "rtl/rtl";

body {
  margin: 0px !important;
}

// .custom-dropdown.mat-select-panel {
//   max-height: 200px !important; /* Define a altura máxima do dropdown */
//   overflow-y: auto !important; /* Adiciona rolagem caso haja muitas opções */
// }

// // Customize the entire app. Change :root to your selector if you want to scope the styles.
// :root {
//   @include mat.select-overrides(
//     (
//       panel-background-color: orange,
//       enabled-trigger-text-color: red,
//     )
//   );
// }

.custom-dropdown.mat-mdc-select-panel {
  max-height: 200px !important; /* Altura máxima do dropdown */
  overflow-y: auto !important; /* Ativa rolagem se necessário */
}

.custom-dropdown.mat-mdc-select-panel-above {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.custom-dropdown.mat-mdc-select-panel-below {
  max-height: 200px !important;
  overflow-y: auto !important;
}
