<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title
      >Clientes com Créditos Próximos ao Vencimento</mat-card-title
    >
    <mat-card-subtitle
      >Verifique os créditos que expiram em breve</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource2" class="w-100">
        <!-- Client Column -->
        <ng-container matColumnDef="client">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Cliente
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <img
                *ngIf="element.logo"
                [src]="element.logo"
                alt="Logo"
                width="40"
                class="rounded-circle"
              />
              <div class="m-l-16">
                <h6 class="mat-subtitle-1 f-s-14 f-w-500 lh-sm">
                  {{ element.clientName }}
                </h6>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Credits Column -->
        <ng-container matColumnDef="credits">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Créditos
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.credits }}
          </td>
        </ng-container>

        <!-- Validity Date Column -->
        <ng-container matColumnDef="validityDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Vencimento
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.validityDate | date : "shortDate" }}
          </td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="priority">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Prioridade
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              *ngIf="element.priority === 'critical'"
              class="bg-light-error text-error rounded f-w-500 p-6 p-y-4 f-s-12"
            >
              Crítica
            </span>
            <span
              *ngIf="element.priority === 'high'"
              class="bg-light-warning text-warning rounded f-w-500 p-6 p-y-4 f-s-12"
            >
              Alta
            </span>
            <span
              *ngIf="element.priority === 'medium'"
              class="bg-light-primary text-primary rounded f-w-500 p-6 p-y-4 f-s-12"
            >
              Média
            </span>
            <span
              *ngIf="element.priority === 'low'"
              class="bg-light-accent text-accent rounded f-w-500 p-6 p-y-4 f-s-12"
            >
              Baixa
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
