<div class="container my-4">
  <mat-card>
    <mat-card-title style="margin: 15px"
      >Gestão de Pedidos de Crédito</mat-card-title
    >
    <mat-card-content>
      <!-- Filtros -->
      <div class="row mb-4 align-items-center">
        <div class="col-md-6 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cliente</mat-label>
            <mat-select
              [(ngModel)]="selectedClient"
              (selectionChange)="applyFilter()"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option
                *ngFor="let client of clientsList"
                [value]="client.id"
              >
                {{ client.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="col-md-4 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Data Início</mat-label>
            <input
              matInput
              [matDatepicker]="startDatePicker"
              [(ngModel)]="startDate"
              (dateChange)="applyFilter()"
              [max]="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Data Fim</mat-label>
            <input
              matInput
              [matDatepicker]="endDatePicker"
              [(ngModel)]="endDate"
              (dateChange)="applyFilter()"
              [min]="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select
              [(ngModel)]="selectedStatus"
              (selectionChange)="applyFilter()"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option value="Pendente">Pendente</mat-option>
              <mat-option value="Aprovado">Aprovado</mat-option>
              <mat-option value="Rejeitado">Rejeitado</mat-option>
              <mat-option value="Expirado">Expirado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              (keyup)="applyTextFilter($event)"
              placeholder="Digite para buscar"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- Botão Limpar Filtros -->
      <div class="row mb-4">
        <div class="col-md-12" style="text-align: end">
          <button mat-flat-button color="accent" (click)="resetFilters()">
            Limpar Filtros
          </button>
        </div>
      </div>

      <!-- Tabela -->
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 w-100"
          matSort
        >
          <!-- Colunas -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Ref. Pedido
            </th>
            <td mat-cell *matCellDef="let order">{{ order.id }}</td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Data do Pedido
            </th>
            <td mat-cell *matCellDef="let order">
              {{ order.createdAt | date : "dd/MM/yyyy HH:mm" }}
            </td>
          </ng-container>

          <!-- Outras colunas aqui... -->

          <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let order">
              {{ order.clientName || "Não identificado" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="openingBalance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Créditos Adquiridos
            </th>
            <td mat-cell *matCellDef="let order">{{ order.openingBalance }}</td>
          </ng-container>

          <ng-container matColumnDef="usedBalance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Créditos Utilizados
            </th>
            <td mat-cell *matCellDef="let order">{{ order.usedBalance }}</td>
          </ng-container>

          <ng-container matColumnDef="remainingBalance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Créditos Remanescentes
            </th>
            <td mat-cell *matCellDef="let order">
              {{ order.remainingBalance }}
            </td>
          </ng-container>

          <ng-container matColumnDef="daysRemaining">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Dias Restantes
            </th>
            <td mat-cell *matCellDef="let order">{{ order.daysRemaining }}</td>
          </ng-container>

          <ng-container matColumnDef="expirationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Data de Expiração
            </th>
            <td mat-cell *matCellDef="let order">
              {{ order.expirationDate | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td
              mat-cell
              *matCellDef="let order"
              [ngClass]="{
                'status-pending': order.status === 'Pendente',
                'status-approved': order.status === 'Aprovado',
                'status-rejected': order.status === 'Rejeitado'
              }"
            >
              {{ order.status }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let order">
              <button
                mat-icon-button
                color="primary"
                matTooltip="Aprovar Pedido"
                *ngIf="
                  order.status === 'Pendente' && userRole === 'admin_master'
                "
                (click)="approveOrder(order.id)"
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                matTooltip="Rejeitar Pedido"
                *ngIf="
                  order.status === 'Pendente' && userRole === 'admin_master'
                "
                (click)="rejectOrder(order.id)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>

    <!-- Paginação -->
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card>

  <div class="row">
    <div class="col-md-6 text-end">
      <button mat-flat-button color="primary" (click)="openNewOrderForm()">
        Criar Novo Pedido
      </button>
    </div>
  </div>
</div>
