<h1>Lista de Clientes</h1>
<mat-card class="client-list-container">
  <!-- Campo de Busca -->
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Digite para buscar"
    />
    <button
      mat-icon-button
      matSuffix
      *ngIf="searchValue"
      (click)="searchValue = ''; applyFilter($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- Tabela -->
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 custom-table"
    matSort
    multiTemplateDataRows
  >
    <!-- Coluna: Expandir -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button (click)="toggleRow(client)">
          <mat-icon>{{
            expandedElement === client ? "expand_less" : "expand_more"
          }}</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Coluna: Nome Fantasia -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome Fantasia</th>
      <td mat-cell *matCellDef="let client">{{ client.companyName }}</td>
    </ng-container>

    <!-- Coluna: E-mail -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
      <td mat-cell *matCellDef="let client">{{ client.email }}</td>
    </ng-container>

    <!-- Coluna: Telefone -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
      <td mat-cell *matCellDef="let client">{{ client.phone | phone }}</td>
    </ng-container>

    <!-- Coluna: Setor -->
    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Setor</th>
      <td mat-cell *matCellDef="let client">{{ client.sector }}</td>
    </ng-container>

    <!-- Coluna: CNPJ -->
    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
      <td mat-cell *matCellDef="let client">{{ client.cnpj | cnpj }}</td>
    </ng-container>
    <ng-container matColumnDef="credits">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Créditos</th>
      <td class="credit-cell" mat-cell *matCellDef="let client">
        {{ client.credits }}
      </td>
    </ng-container>

    <!-- Coluna: Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="col-1">Ações</th>
      <td mat-cell *matCellDef="let client" class="col-1 text-center">
        <div class="row justify-content-center align-items-center">
          <div class="col">
            <button
              mat-icon-button
              color="primary"
              [routerLink]="['/clients', client.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="col">
            <button
              mat-icon-button
              color="warn"
              (click)="deleteClient(client.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Linha Principal -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let client; columns: displayedColumns"></tr>

    <!-- Linha Expansível -->
    <tr *matRowDef="let client; columns: ['expand']" class="expanded-row">
      <td [attr.colspan]="displayedColumns.length">
        <div *ngIf="expandedElement === client" class="expanded-content">
          <h4>Dados do Representante</h4>
          <p>
            <strong>Nome:</strong> {{ client.representative?.name || "N/A" }}
          </p>
          <p>
            <strong>Email:</strong> {{ client.representative?.email || "N/A" }}
          </p>
          <p>
            <strong>Função:</strong> {{ client.representative?.role || "N/A" }}
          </p>
        </div>
      </td>
    </tr>
  </table>

  <!-- Paginação -->
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</mat-card>

<!-- Botão flutuante: Adicionar -->
<a mat-fab color="primary" (click)="openAddClientDialog()" class="add-button">
  <mat-icon>add</mat-icon>
</a>
