<div class="row">
  <div
    *ngFor="let chart of generateChartData(); let i = index"
    class="col-lg-3 col-sm-6"
  >
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-x-24 p-y-16">
        <div class="row justify-content-between">
          <div class="col-6 d-flex align-items-center">
            <div>
              <mat-card-title class="f-s-20 f-w-500">
                {{ pieChartsData[i]?.value }}
              </mat-card-title>
              <mat-card-subtitle class="f-s-14 f-w-400">
                {{ pieChartsData[i]?.label }}
              </mat-card-subtitle>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <apx-chart
              [series]="chart.series"
              [chart]="chart.chart"
              [labels]="chart.labels"
              [colors]="chart.colors"
              [plotOptions]="chart.plotOptions"
              [dataLabels]="chart.dataLabels"
              [tooltip]="chart.tooltip"
              [legend]="chart.legend"
            >
            </apx-chart>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
