<div class="container mt-4">
  <h2 class="mb-4">Criar Formulário</h2>

  <form [formGroup]="form" (ngSubmit)="saveForm()">
    <mat-card>
      <mat-card-title>Informações do Formulário</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Título do Formulário</mat-label>
              <input
                matInput
                formControlName="name"
                placeholder="Digite o título"
              />
              <mat-error *ngIf="form.get('name')?.invalid"
                >O título é obrigatório.</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea
                matInput
                formControlName="description"
                rows="2"
                placeholder="Digite a descrição"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Cliente</mat-label>
              <mat-select
                formControlName="clientId"
                (selectionChange)="onClientChange($event)"
              >
                <mat-option
                  *ngFor="let client of clients"
                  [value]="client.id"
                  >{{ client.name }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="form.get('clientId')?.invalid"
                >O cliente é obrigatório.</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Campo de projeto removido -->
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-4">
      <mat-card-title>Construtor de Formulários</mat-card-title>
      <mat-card-content *ngIf="creatorModel">
        <!-- SurveyJS Form Builder -->
        <survey-creator [model]="creatorModel"></survey-creator>
      </mat-card-content>
    </mat-card>

    <!-- Botão de Salvar -->
    <div class="text-end mt-4">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        <mat-icon>save</mat-icon> Salvar Formulário
      </button>
    </div>
  </form>
</div>
