<h2 mat-dialog-title>
  {{ isEditing ? "Editar Cliente" : "Cadastrar Cliente" }}
</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <!-- Nome do Cliente -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nome do Cliente</mat-label>
      <input
        matInput
        formControlName="companyName"
        placeholder="Digite o nome do cliente"
      />
      <mat-error
        *ngIf="
          form.get('companyName')?.touched && form.get('companyName')?.invalid
        "
      >
        O nome do cliente é obrigatório.
      </mat-error>
    </mat-form-field>

    <!-- Setor -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Setor</mat-label>
      <input matInput formControlName="sector" placeholder="Digite o setor" />
    </mat-form-field>

    <!-- CNPJ -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>CNPJ</mat-label>
      <input
        matInput
        formControlName="cnpj"
        placeholder="Digite o CNPJ"
        [mask]="'00.000.000/0000-00'"
      />
    </mat-form-field>

    <!-- Créditos -->
    <!-- <mat-form-field appearance="outline" class="w-100">
      <mat-label>Créditos</mat-label>
      <input
        matInput
        type="number"
        formControlName="credits"
        placeholder="Digite a quantidade de créditos"
      />
      <mat-error
        *ngIf="form.get('credits')?.touched && form.get('credits')?.invalid"
      >
        <div *ngIf="form.get('credits')?.errors?.['required']">
          A quantidade de créditos é obrigatória.
        </div>
        <div *ngIf="form.get('credits')?.errors?.['min']">
          A quantidade de créditos deve ser maior ou igual a 0.
        </div>
      </mat-error>
    </mat-form-field> -->

    <!-- Logo -->
    <div class="w-100">
      <label for="fileInput">Logo do Cliente</label>
      <input
        id="fileInput"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        class="file-input"
      />
    </div>
    <div *ngIf="logoPreview" class="preview-container">
      <img
        [src]="logoPreview"
        alt="Pré-visualização da Logo"
        class="logo-preview"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" (click)="close()">Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="isSubmitting || form.invalid"
    (click)="submit()"
  >
    <span *ngIf="isSubmitting">Salvando...</span>
    <span *ngIf="!isSubmitting">{{ isEditing ? "Atualizar" : "Salvar" }}</span>
  </button>
</mat-dialog-actions>
