<div class="flex">
  <div
    class="user-profile profile-bar"
  >
    <!-- [ngStyle]="{
      'background-image': logo
        ? 'url(' + logo + ')'
        : 'url(assets/images/backgrounds/user-info.jpg)'
    }" -->
    <!-- User profile text -->
    <div class="profile-text p-t-4" style="border-radius: 0px;">
      <a
        href="javascript:void(0)"
        class="text-decoration-none d-flex align-items-center text-white w-100 f-s-16"
      >
        {{ userName || "Usuário" }}
      </a>
    </div>
  </div>
</div>
