.user-profile {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 0px!important; // Ajuste conforme necessário
  display: flex;
  align-items: center;
  justify-content: center;
}
