<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Projetos Ativos por Cliente</mat-card-title>
    <mat-card-subtitle
      >Distribuição de projetos ativos entre os clientes</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="p-b-24">
    <apx-chart
      *ngIf="salesoverChart"
      [series]="salesoverChart.series"
      [chart]="salesoverChart.chart"
      [dataLabels]="salesoverChart.dataLabels"
      [plotOptions]="salesoverChart.plotOptions"
      [xaxis]="salesoverChart.xaxis"
      [yaxis]="salesoverChart.yaxis"
      [grid]="salesoverChart.grid"
      [fill]="salesoverChart.fill"
      [tooltip]="salesoverChart.tooltip"
      [legend]="salesoverChart.legend"
      [stroke]="salesoverChart.stroke"
    >
    </apx-chart>
  </mat-card-content>
</mat-card>
