<div class="container" style="max-height: 90vh">
  <h2 class="mb-4">Pré-visualização</h2>

  <!-- Informações Básicas -->
  <div class="mb-4">
    <p><strong>Descrição:</strong> {{ data.description }}</p>
    <p><strong>Criado Por:</strong> {{ data.createdBy.name }}</p>
    <p>
      <strong>Data de Criação:</strong>
      {{ data.createdAt?.toDate() | date : "short" }}
    </p>
  </div>

  <!-- Perguntas Renderizadas usando SurveyJS -->
  <survey [model]="surveyModel"></survey>

  <!-- Botão de Fechar -->
  <div class="text-end">
    <button mat-button color="primary" (click)="closeDialog()">Fechar</button>
  </div>
</div>
