<div class="container">
  <div class="row" style="margin-bottom: 10px" *ngIf="clientId">
    <div class="col-12">
      <button mat-button (click)="goBack()" class="mb-3">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>
    </div>
  </div>

  <mat-card>
    <mat-card-title style="margin-bottom: 10px">{{ title }}</mat-card-title>
    <mat-card-content>
      <!-- Filtros -->
      <div class="row my-3">
        <!-- Filtro de Tipo de Notificação -->
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de Notificação</mat-label>
            <mat-select (selectionChange)="onEmailTypeChange($event)">
              <mat-option value="">Todos</mat-option>
              <mat-option value="cadastro">Cadastro do Usuário</mat-option>
              <mat-option value="conviteAvaliador"
                >Convite - Avaliador</mat-option
              >
              <mat-option value="conviteRespondente"
                >Convite - Avaliado</mat-option
              >
              <mat-option value="lembreteAvaliador"
                >Lembrete - Avaliador</mat-option
              >
              <mat-option value="lembreteRespondente"
                >Lembrete - Avaliado</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Filtrar por Cliente</mat-label>
            <mat-select (selectionChange)="onClientChange($event)">
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let client of clients" [value]="client.name">
                {{ client.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Filtro de Busca -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              (keyup)="applyFilter()"
              #searchInput
              placeholder="Digite para buscar"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- Limpar Filtros -->
      <div class="row">
        <div class="col-12 text-right">
          <button mat-button (click)="clearFilters()">Limpar Filtros</button>
        </div>
      </div>

      <!-- Tabela de Templates -->
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 w-100"
      >
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
          <td mat-cell *matCellDef="let template">{{ template.clientName }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let template">{{ template.name }}</td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assunto</th>
          <td mat-cell *matCellDef="let template">{{ template.subject }}</td>
        </ng-container>

        <ng-container matColumnDef="emailType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Tipo de Notificação
          </th>
          <td mat-cell *matCellDef="let template">
            {{ template.emailType | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let template">
            <button
              mat-icon-button
              color="primary"
              matTooltip="Enviar E-mail"
              (click)="
                openEmailSelectionModal(
                  clientId,
                  template.id,
                  template.emailType
                )
              "
            >
              <mat-icon>mail</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              (click)="editTemplate(template.id, template.isGlobal)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteTemplate(template.id, template.isGlobal)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Paginação -->
      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
      ></mat-paginator>

      <!-- Botão para criar novo template -->
      <button mat-flat-button color="primary" (click)="createTemplate()">
        Novo Template
      </button>
    </mat-card-content>
  </mat-card>
</div>
