@use "@angular/material" as mat;

// Paleta dinâmica baseada na variável CSS
$dynamic-primary: (
  100: var(--primary-color-light, #ffffff),
  500: var(--primary-color, #1b84ff),
  700: var(--primary-color-dark, #edf5fd),
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);

// Paleta secundária fixa (pode ser adaptada para ser dinâmica também)
$dynamic-secondary: (
  100: #ffffff,
  500: #43ced7,
  700: #f2fcfc,
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);

// Paleta de erro fixa
$dynamic-warn: (
  100: #fdede8,
  500: #f8285a,
  700: #fff0f4,
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);

// Definir paletas
$theme-primary: mat.m2-define-palette($dynamic-primary, 500);
$theme-accent: mat.m2-define-palette($dynamic-secondary, 500);
$theme-warn: mat.m2-define-palette($dynamic-warn, 500);

// Criar o tema claro dinâmico
$bluetheme: mat.m2-define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography:
      mat.m2-define-typography-config(
        $font-family: "Poppins",
        $subtitle-2: mat.m2-define-typography-level(14px, 14px, 400),
        $subtitle-1: mat.m2-define-typography-level(21px, 26px, 500),
        $headline-6: mat.m2-define-typography-level(18px, 26px, 500),
        $headline-5: mat.m2-define-typography-level(24px, 30px, 700),
        $button: mat.m2-define-typography-level(14px, 14px, 400),
        $body-1: mat.m2-define-typography-level(14px, 20px, 400),
        $body-2: mat.m2-define-typography-level(16px, 22px, 400),
      ),
  )
);

// Criar o tema escuro dinâmico
$darkbluetheme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography:
      mat.m2-define-typography-config(
        $font-family: "Poppins",
        $subtitle-2: mat.m2-define-typography-level(14px, 14px, 400),
        $subtitle-1: mat.m2-define-typography-level(21px, 26px, 500),
        $headline-6: mat.m2-define-typography-level(18px, 26px, 500),
        $headline-5: mat.m2-define-typography-level(24px, 30px, 700),
        $button: mat.m2-define-typography-level(14px, 14px, 400),
        $body-1: mat.m2-define-typography-level(14px, 20px, 400),
        $body-2: mat.m2-define-typography-level(16px, 22px, 400),
      ),
  )
);

// Estilos adicionais para classes específicas
.bg-primary,
.topbar {
  background: mat.m2-get-color-from-palette($theme-primary, 500) !important;
}

.topbar .mat-mdc-icon-button,
.topbar .mat-mdc-button {
  color: white !important;
}

.horizontal-navbar .parentBox.pactive > a,
.horizontal-navbar .parentBox.pactive > a:hover,
.horizontal-navbar .parentBox.pactive:hover > a {
  background-color: mat.m2-get-color-from-palette(
    $theme-accent,
    500
  ) !important;
}

.activeMenu {
  background-color: mat.m2-get-color-from-palette(
    $theme-accent,
    500
  ) !important;
}

// Estilos para botões outline
.mat-mdc-outlined-button {
  &.mat-primary {
    border-color: mat.m2-get-color-from-palette($theme-primary, 500) !important;
  }
  &.mat-accent {
    border-color: mat.m2-get-color-from-palette($theme-accent, 500) !important;
  }
  &.mat-warn {
    border-color: mat.m2-get-color-from-palette($theme-warn, 500) !important;
  }
}
